fastapi
uvicorn[standard]
sqlalchemy
stripe
psycopg2-binary
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart
pydantic-settings
pydantic[email]
alembic
pandas
openpyxl





